<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>ALSS 主動學習斷句標註系統</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/shop-item.css" rel="stylesheet">
    <link href="css/reader.css" rel="stylesheet">
    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="main.js"></script>

    <script>
      $(function() {
        segload(1);
        relod();
      });
    </script>
  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">主動學習斷句標註系統</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="annotation.html">斷句標註介面
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="segresult.html">斷句標註結果
                <span class="sr-only">(current)</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">
      <div class="row">

        <div class="col-lg-3">
          <h1 class="my-4">全部斷句結果</h1>
          <div class="list-group">
            <a href="#" class="list-group-item active" id="reload" value="1">第一回合</a>
            <a href="#" class="list-group-item" id="reload" value="2">第二回合</a>
            <a href="#" class="list-group-item" id="reload" value="3">第三回合</a>
          </div>
        </div>
        <!-- /.col-lg-3 -->

        <div class="col-lg-9">

          <!-- /.card -->

          <div class="card card-outline-secondary my-4">
            <div class="card-header">
              文本顯示區 
              <div class="anno_tip" id="sys_anno" >　</div><div class="anno_tip" > 系統的斷句標註 </div>
              <div class="anno_tip" id="user_anno" >　</div><div class="anno_tip" > 使用者的斷句標註 </div>
              <div class="anno_tip" id="all_anno" >　</div><div class="anno_tip" > 兩者皆同的斷句標註 </div>
            </div>
            

            <!--文字設定視窗-->
            <div class="card-body" onscroll="calc()">
              <div id="all-text">
                
              </div>
            </div>
            <div class="x-ray" id="x-top" style="margin-top: -4px;"></div>
    <div class="x-ray" id="x-bottom"></div>

            </div>
          
          <!-- /.card -->

        </div>
        <!-- /.col-lg-9 -->

      </div>

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; ALSS@biilxu 2017</p>
      </div>
      <!-- /.container -->
    </footer>

    

  </body>

</html>
